@model IEnumerable<WebApplication2.Models.Evento>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Cadastrar novo evento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.ActionLink("✏", "Edit", new { id = Model.ToList<WebApplication2.Models.Evento>().IndexOf(item) }) |
            @Html.ActionLink("👁", "Exibir", new { id=Model.ToList<WebApplication2.Models.Evento>().IndexOf(item) }) |
            @Html.ActionLink("🗑", "Delete", new { id = Model.ToList<WebApplication2.Models.Evento>().IndexOf(item) })
        </td>
    </tr>
}

</table>
<a href="@Url.Action("GerarPdf", "Evento")" class="btn btn-dark" target="_blank">
    📄 Baixar PDF
</a>