@model IEnumerable<WebApplication2.Models.Celular>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Cadastrar novo Celular", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Novo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFabricacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Novo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFabricacao)
        </td>
        <td>
            @Html.ActionLink("✏", "Edit", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) }) |
            @Html.ActionLink("👁", "Exibir", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) }) |
            @Html.ActionLink("🗑", "Delete", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) })
        </td>
    </tr>
}

</table>
<a href="@Url.Action("GerarPdf", "Celular")" class="btn btn-dark" target="_blank">
    📄 Baixar PDF
</a>