@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Cadastrar novo Aluno", "Create") 
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNsc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNsc)
        </td>
        <td>
            @Html.ActionLink("✏", "Edit", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }) |
            @Html.ActionLink("👁", "Exibir", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }) |
            @Html.ActionLink("🗑", "Delete", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) })
        </td>
    </tr>
}
</table>
<a href="@Url.Action("GerarPdf", "Aluno")" class="btn btn-dark" target="_blank">
    📄 Baixar PDF
</a>